@import '../vars.scss';

.aboutBody {
    position:absolute;
    width: 90%;
    left: 5%;
    top: 20%;
    text-align: center;
}

.aboutTitle {
    margin-bottom: 10px;
    font-size: 1.3em;
    font-weight: bold;
    color:rgb(230,230,230);
}

.aboutDivider {
    border-top-style: groove;
    border-top-width: 1px;
    border-color: rgb(230,230,230);
    margin-bottom: 15px;
}

.aboutPara {
      margin-bottom: 10px;
      font-size: 0.95em;
      font-weight: 400;
}

.aboutHighlight {
      font-size: 1.1rem;
      color: rgb(135,206,235);
}

.aboutResource {
    margin-bottom: 10px;
    font-size: 1.1em;
    color:rgb(79,217,255);
    text-align: left;
}

.aboutTable{
  margin-bottom: 30px;
    font-size: 0.8rem;
    border-collapse: collapse;

        td, th{
            border: 1px groove rgb(150,150,150);
            text-align: left;
            padding:3px;
        }

        tr:nth-child(odd){
            background-color: rgba(50,50,50);
            //color: rgb(20,20,20);
        }

        th{
          background-color: rgb(135, 206, 235);
          color: rgb(20,20,20);
        }
}

.resURL{
    color: rgb(200,200,200);
}
