@import '../vars.scss';

.absolute-black-bg {
    opacity: .7;
    z-index: 199919999199;
    background-color: rgb(0, 0, 0);
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.chart-modal {
    opacity: 1;
    background-color: $primary-bg;
    z-index: 299919999199;
    border-radius: .25rem;
    width: 40rem;

    position: relative;
    display: flex;
    justify-self: center;
    align-self: center;

    flex-direction: column;

    .form-controller {
        width: 100%;
        border-top: 1px solid $border;
        padding-top: 12px;
        padding-bottom: 12px;

        display: flex;
        align-items: center;
        justify-content: center;

        button { 
            margin-left: 8px; 
            margin-right: 8px; 
            box-sizing: content-box;
            cursor: pointer;
            outline: none;
            border: none;

            display: flex;
            align-items: center;

            font-size: 14px;
            line-height: 1.2;
            padding: 4px 12px;
            border-radius: .25rem;
            background: $dark-bg;
            color: $text-color
        }
    }

    .title {
        display: flex;
        align-items: center;
        cursor: default;
        flex: 0 0 auto;
        padding: 0 20px;

        .text {
            color: $mute-text;
            cursor: default;
            flex-grow: 1;
            font-size: 20px;
            font-weight: 700;
            line-height: 28px;
            min-width: 0;
            padding: 17px 0;
        }

        .close {
            align-items: center;
            border-radius: 2px;
            color: white;
            cursor: default;
            display: flex;
            flex-shrink: 0;
            height: 34px;
            justify-content: center;
            margin: 17px -3px 17px 0;
            width: 34px;
            cursor: pointer;
        }
    }

    .search-bar {
        display: flex;
        cursor: pointer;
        position: relative;
        box-sizing: content-box;

        align-items: center;
        flex-shrink: 0;
        border-top: 1px solid $border;
        border-bottom: 1px solid $border;

        .input-container {
            height: 24px;
            width: 100%;
            padding: 8px 16px 8px 47px;
            box-sizing: content-box;

            input {
                background-color: $primary-bg;
                border: none;
                outline: none;
                color: $mute-text;
                font-size: 16px;
                height: 100%;
                margin: 0;
                padding: 0;
                padding-top: 1px;
                width: 100%;
                
                box-sizing: content-box;
            }
        }

        .search {
            color: $mute-text;
            height: 18px;
            box-sizing: content-box;

            position: absolute;
            top: calc(50% - 9px);
            left: 20px;
            pointer-events: none;
        }
    }

    .main-wrap {
        display: flex;
        flex: 1 1 auto;
        height: 400px;
        overflow: hidden;
        box-sizing: content-box;

        .side {
            display: flex;
            flex: none;
            flex-direction: column;

            min-height: 145px;
            overflow-x: hidden;
            overflow-y: auto;
            
            border-right: 1px solid $border;
            padding-top: 6px;
            padding-bottom: 6px;
            width: 175px;
            box-sizing: content-box;

            .tab {
                display: flex;
                box-sizing: content-box;
                align-items: center;
                color: $text-color;
                padding: 6px 0 6px 20px;
                cursor: pointer;
                user-select: none;

                .icon {
                    height: 28px;
                    width: 28px;

                    svg { 
                        height: 28px;
                        width: 28px; 
                    }
                }

                .tab-title {
                    display: flex;
                    font-size: 14px;
                    margin-left: 8px;
                    min-width: 0;
                    white-space: nowrap;

                    .text {
                        flex: 0 100%;
                        min-width: 0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }

        .indicator-content {
            display: flex;
            flex-flow: column;
            height: 100%;
            overflow: auto;
            width: 100%;

            .pills {
                padding: 8px 4px 6px 26px;
                box-sizing: content-box;

                display: flex;
                align-items: center;
                flex: 0 0 auto;
                overflow-x: auto;
                overflow-y: hidden;

                .pill {
                    box-sizing: content-box;
                    background-color: $dark-bg;
                    color: #fff;
                    cursor: pointer;
                    margin: 8px 8px 0 0;
                    padding: 0 11px;

                    border-radius: 14px;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 21px;

                    align-items: center;
                    box-sizing: border-box;
                    display: inline-flex;
                    flex: none;
                    max-width: 100%;
                    outline: none;
                    overflow: visible;
                    position: relative;

                    .content {
                        background-color: $dark-bg;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        user-select: none;
                    }
                }
            }

            .indicators {
                height: 100%;
                width: 100%;
                min-width: 0;
                overflow-x: hidden;
                position: relative;
            }

            .listContainer {
                position: relative;
                overflow: auto;
                width: 100%;
                direction: ltr;

                display: flex;
                flex-direction: column;
                
                .title-item {
                    height: 40px;
                    width: 100%;
                    display: flex;
                    padding: 16px 84px 8px 32px;

                    h3 {
                        color: $mute-text;
                        font-size: 11px;
                        font-weight: 400;
                        letter-spacing: .4px;
                        line-height: 16px;
                        margin: 0;
                        text-transform: uppercase;
                        white-space: nowrap;
                        user-select: none;
                    }
                }

                .indicator {
                    height: 32px;
                    width: 100%;

                    display: flex;
                    align-items: center;
                    padding-left: 6px;
                    padding-right: 16px;
                    cursor: pointer;

                    &:first-child { margin-top: 20px; }
                    &:hover { background-color: $dark-bg; }

                    &.focus { background-color: $dark-bg; }

                    .main-content {
                        display: flex;
                        align-items: center;
                        flex: 1 1 auto;
                        margin-right: auto;
                        min-width: 0;
                        margin-left: 26px;


                        .indicator-icon {
                            display: flex;
                            align-items: center;
                            margin-right: 8px;
                        }

                        .indicator-title {
                            color: $text-color;
                            font-size: 14px;
                            
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }

                    .actions {

                    }
                }
            }
        }
    }
}

.chart-builder {
    display: flex;
    flex-direction: column;

    min-height: 100%;
    height: 100vh;
    width: 100%;

    .c-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        background-color: $navbar-bg;
        height: 60px;

        box-sizing: border-box;
        padding: 8px 16px 8px 16px;

        .left {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .brand {
                display: flex;

                color: $text-color;
                text-decoration: none;
                align-items: center;
                justify-content: space-between;

                b { margin-left: 0.5rem; }
            }
        }
    }

    .root {
        flex: 1 1 auto;
        height: 0;

        display: grid;
        grid-template-columns: 260px minmax(0, 1fr);

        .nav {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            overflow-y: auto;
            align-items: stretch;
            position: relative;
            padding-bottom: 60px;
            background-color: $primary-bg;

            .section-container {
                .header {
                    display: flex;
                    height: 38px;
                    width: 100%;
                    justify-content: flex-start;
                    flex-direction: row;

                    font-size: 11px;
                    font-weight: 700;
                    text-transform: uppercase;
                    overflow: hidden;
                    cursor: pointer;
                    align-items: center;
                    box-sizing: border-box;
                    position: relative;
                    color: rgb(171, 171, 171);

                    margin-bottom: 14px;
                    border-bottom: 1px solid $border;

                    .c-icon {
                        display: inline-block;
                        text-decoration: none;
                        text-align: center;
                        color: #c5c5c5;

                        font-size: 16px;
                        margin-bottom: 2.5px;
                        margin-right: 6px;
                        margin-left: 8px;
                    }

                    .add {
                        box-sizing: border-box;
                        display: flex;
                        justify-self: flex-end;
                        margin-left: auto;
                        margin-right: 1em;

                        margin-top: 1px;
                        flex: 0 0 auto;
                        font-size: 20px;

                        &:hover { color: $alt-text-color; }
                    }

                    .title {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-size: 14px;
                        min-width: 3ch;
                    }
                }

                .children .component-content {
                    padding: 0 1.25rem;
    
                    .component {
                        color: $mute-text;
                        border-radius: 0.35rem;
                        cursor: pointer;
                        transition: background-color 130ms ease-in-out;
                        margin-bottom: 12px;
    
                        &:hover { 
                            .inner .actions { visibility: visible; }
                        }
    
                        .inner {
                            padding: 0 0.5rem;
                            height: 32px;
    
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            gap: 0.25rem;
                            color: rgb(200, 200, 200);
    
                            .icon {
                                font-size: 18px;
                                flex: 0 0 20px;
    
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                            }
    
                            .text {
                                flex: 1 1 auto;
                                font-weight: 600;
                                font-size: 12px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
    
                            .actions {
                                display: flex;
                                visibility: hidden;
                                position: relative;
    
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
    
                                font-size: 22px;
                                width: 20px;
                                height: 20px;
                                cursor: pointer;
    
                                &:hover { color: $alt-text-color; }
                            }
                        }
                    }
                }
            }

            

            .components {
                display: flex;
                position: relative;
                vertical-align: top;
                box-sizing: border-box;

                padding-top: 0.25rem;
                padding-bottom: 0;
                padding-left: 1.5rem;
                padding-right: 0.5rem;

                .component-tab {
                    vertical-align: top;

                    position: relative;
                    box-sizing: border-box;
                    height: 46px;
                    line-height: 46px;
                    
                    text-decoration: none;
                    white-space: nowrap;
                    cursor: pointer;

                    &.active {
                        color: $alt-text-color;
                        span { font-weight: 700; }
                    }

                    span {
                        cursor: pointer;
                        vertical-align: top;
                        display: inline-block;
                        font-size: 14px;
                        font-weight: 400;
                        text-decoration: none;

                        line-height: 46px;
                        white-space: nowrap;

                        &::before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            box-sizing: border-box;
                            height: 32px;
                            margin-top: -15px;
                            border: 2px solid transparent;
                            border-radius: 5px;
                            pointer-events: none;
                        }
                    }
                }
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex: 1 1 auto;
            align-items: stretch;

            padding: 0rem 0px 0px 0px;
            overflow-y: auto;

            background-color: $second-bg;

            .chart-tabs {
                display: flex;
                width: 100%;

                height: 38px;
                background-color: $track;

                .tab {
                    cursor: pointer;
                    color: white;
                    background: #2C2D2D;
                    font-size: 14px;

                    padding-left: 14px;
                    padding-right: 14px;

                    display: flex;
                    flex-direction: row;
                    height: 100%;
                    align-items: center;

                    &.active { border-bottom: 1px solid white; }

                    &:hover { .close { visibility: visible; } }

                    .icon {
                        font-size: 18px;
                        padding-bottom: 0;
                        margin-right: 3px;
                    }

                    .text {
                        padding-top: 2px;
                        margin-right: 4px;
                    }

                    .close { 
                        padding-top: 0px; 
                        visibility: hidden;
                        transition: visibility 130ms ease-in-out;
                    }

                    span {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}