@import '../vars.scss';

.chart-builder {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;

    .chart-container {
        width: calc(100% - 55px);
        height: 100%;

        display: flex;
        flex-direction: column;

        svg {
            width: 100%;
            height: calc(100% - 28px);
        }

        .x-axis {
            height: 28px;
            border-top: 1px solid $border;
            background: $second-bg;
            overflow: hidden;

            display: flex;
            flex-direction: row;
            position: relative;
            font-size: 12px;

            .tick {
                position: absolute;
                height: 80%;

                display: flex;
                align-items: center;
                justify-content: center;
            }

            .tickValue {
                position: absolute;
                width: 95px;
                background-color: $track;
                height: 80%;
                z-index: 10;

                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;

                border-bottom-right-radius: 2.5px;
                border-bottom-left-radius: 2.5px;
            }
        }
    }

    .y-axis {
        width: 55px;
        background: $second-bg;
        overflow: hidden;
        position: relative;
        border-left: 1px solid $border;

        .inner {
            display: flex;
            flex-direction: column;
            font-size: 12px;
            position: relative;
            height: calc(100% - 28px);

            .tick {
                position: absolute;
                padding-left: 10px;
            }
    
            .tickValue {
                background-color: $track;
                width: 90%;
                height: 25px;
                z-index: 10;
    
                overflow: hidden;
                display: flex;
                align-items: center;
                position: absolute;
    
                padding-left: 10px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }
}

.add-component {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    
    cursor: pointer;
    &:hover { color: $alt-text-color; }

    svg {
        width: 24px;
        height: 24px;
    }
}

.chart-builder-sNav {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;

    .header {
        text-transform: uppercase;
        letter-spacing: .03125rem;
        font-size: .65625rem;
        font-weight: 600;
        padding: 0.5rem 1rem;
        margin-left: 5%;
    }

    .chart-components {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 85%;
        margin-left: 2.5%;
        
        .component {
            margin-right: 0;

            a.tab {
                display: flex;
                width: 100%;
                align-items: center;
                background: 0 0;
                border: 0;
                border-radius: 0.5rem;
                white-space: nowrap;
                position: relative;
                padding: .5rem .875rem!important;
                margin-bottom: 0.25rem;
                color: $text-color;
                cursor: pointer;

                &.active-drop {
                    &::after {
                        transform: rotate(-180deg);
                    }
                }

                &:hover {
                    background-color: rgba(255,255,255,.075);
                }

                &::before {
                    left: 2.5px;

                    position: absolute;
                    top: 50%;
                    content: '';
                    width: 5px;
                    height: 5px;
                    opacity: 0;
                    border-radius: 50%;
                    translate: translateY(-50%);
                    transition: opacity .3s;
                }

                &::after {
                    margin-left: auto;

                    display: inline-block;
                    width: 1rem;
                    height: 1rem;
                    background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='rgba%28255, 255, 255, 0.7%29' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.72,15.78a.75.75,0,0,1-.53.22h-.38a.77.77,0,0,1-.53-.22L6.15,10.64a.5.5,0,0,1,0-.71l.71-.71a.49.49,0,0,1,.7,0L12,13.67l4.44-4.45a.5.5,0,0,1,.71,0l.7.71a.5.5,0,0,1,0,.71Z'/%3e%3c/svg%3e");
                    background-repeat: no-repeat;
                    background-position: right center;
                    background-size: 1rem 1rem;
                    content: '';
                    transition: .3s;
                }

                svg {
                    opacity: .7;
                    flex: 0 0 1.9375rem;
                }
            }

            div.comp-dropdown {
                position: relative;
                padding-left: 1.9375rem;
                display: none;

                &.active-drop { display: block; }

                &::before {
                    position: absolute;
                    top: 0;
                    left: 1.3125rem;
                    width: 0.125rem;
                    height: calc(100% - 0.25rem);
                    content: '';
                    background-color: #2f3235;
                }

                a.item {
                    background-color: transparent;
                    padding: .5rem .875rem!important;
                    margin-bottom: .25rem;
                    cursor: pointer;

                    display: flex;
                    white-space: nowrap;
                    border-radius: .5rem;
                    &:hover { background-color: rgba(255,255,255,.075); }
                }
            }
        }
    }
}

.background-ts {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba($color: #000000, $alpha: 0.8);
    z-index: 20000;

    display: none;
    &.view { display: block; }

    .component-sidebar {
        display: none;
        flex-direction: column;
        transform: none;
        width: 33.3333333%!important;
    
        &.view { display: flex; }
        
        border-left: 1px solid $border;
        right: 0;
        top: 0;
    
        background-clip: padding-box;
        background-color: $track;
        bottom: 0;
        max-width: 100%;
        outline: 0;
        position: fixed;
        z-index: 9001;
    
        .header {
            padding: 1.5rem;
            padding-bottom: 1.1rem;
            padding-top: 1rem;
            border-bottom-width: 1px;
            background-color: $second-bg;
    
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            h5 {
                line-height: 1.625;
                margin-bottom: 0;
                font-size: 1rem;
            }
    
            .close {
                margin-bottom: -.75rem;
                margin-right: -.75rem;
                margin-top: -.75rem;
                padding: 0.75rem;
    
                cursor: pointer;
                color: inherit!important;
                font-size: .75rem;
    
                background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E") 50%/1em auto no-repeat;
                border: 0;
                border-radius: 0.375rem;
                box-sizing: content-box;
                height: 1em;
                opacity: .5;
                width: 1em;
    
                -webkit-appearance: button;
                text-transform: none;
            }
        }
    
        .body {
            display: flex;
            gap: 1.25rem;
            flex: 1 1 auto;
            flex-direction: column;
            align-self: stretch;
    
            overflow-y: auto;
            padding: 1.5rem;
    
            .pills {
                display: flex;
                flex: 0 0 auto;
                flex-flow: wrap;
    
                overflow-x: auto;
                overflow-y: hidden;
                padding: 4px 20px 12px;
    
                span.pill {
                    display: inline-flex;
                    flex: none;
                    align-items: center;
                    position: relative;
    
                    overflow: visible;
                    box-sizing: border-box;
                    border-width: 1px;
                    border-style: solid;
                    cursor: pointer;
    
                    max-width: 180px;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    border-radius: 14px;
                    height: 28px;
                    padding: 0 11px;
                    margin: 8px 8px 0 0;
    
                    &.active {
                        background-color: $blue-excite;
                        border-color: $blue-excite;
                    }
    
                    &:hover {
                        background-color: $grey-hover;
                        border-color: $grey-hover;
    
                        &.active {
                            background-color: $blue-excite;
                            border-color: $blue-excite;
                        }
                    }
                    
                    background-color: $primary-bg;
                    border-color: $primary-bg;
                    color: #fff;
    
                    span.content {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        user-select: none;
                    }
                }
            }
    
            .d-table {
                padding: 0;
                -webkit-box-flex: 1;
                flex: 1 1 auto;
                margin-top: 2rem;
    
                .t-elem {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    cursor: pointer;
                    border-radius: 5px;
    
                    height: 55px;
                    box-sizing: border-box;
                    padding-left: 6px;
                    padding-right: 16px;
                    justify-content: space-between;
                    margin-bottom: 6px;
    
                    &.active { background-color: $primary-bg; }
                    &:hover { background-color: $primary-bg; }
    
                    .title {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        max-width: 70%;
    
                        .icon {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
    
                            background-color: #333;
                            height: 32px;
                            min-width: 32px;
                            width: 32px;
                            border-radius: 50%;
                            margin-right: 0.5em;
                        }
    
                        .fullname { 
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
    
                    .chart {
                        height: 80%;
                        width: 20%;
                    }
                }
            }
    
            .dataset {
                margin-bottom: 1.5rem;
                max-width: 100%;
                min-width: 0;
    
                position: relative;
                background-color: $primary-bg;
                
                display: flex;
                flex-direction: column;
                border-radius: 0.5rem;
                cursor: pointer;
                transition: all 0.1s ease-in-out;
    
                &.active { border: 2px solid $blue-excite; }
                &:hover { transform: scale(1.05); }
    
                .inner {
                    padding: 3rem;
                    flex: 1 1 auto;
    
                    .title {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        text-align: right;
                        user-select: none;
                        
                        h6 {
                            font-size: 1.5rem;
                            height: 100%;
                        }
                    }
    
                    .body {
                        margin-top: .5rem;
                        p { font-size: .875rem!important; }
                    }
                }
            }
        }
    
        .footer {
            background-color: $second-bg;
    
            display: flex;
            flex-shrink: 0;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
    
            border-top: 1px solid $border;
            padding: 1rem;
            padding-bottom: 0.5rem;
            padding-top: 0.5rem;
    
            button {
                margin: 0.5rem;
    
                border-radius: 0.375rem;
                font-size: .875rem;
                padding: 0.5rem 1rem;
    
                border: 1px solid transparent;
                display: inline-block;
                font-weight: 500;
                line-height: 1.3;
                text-align: center;
                user-select: none;
                vertical-align: middle;
    
                &.primary {
                    background-color: $blue-excite;
                    border-color: $blue-excite;
                    color: #fff;
                    cursor: pointer;
                }
    
                &.mute {
    
                }
            }
        }
    }
}