@import '../vars.scss';

.dash-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 3rem;

    .dash-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1.25rem;
        flex-wrap: wrap;

        .text {
            align-content: normal;
            justify-items: stretch;
            grid-gap: .5rem;

            display: grid;
            grid-template-columns: 1fr;
            position: relative;

            h1 { font-size: 22px; font-weight: 700; }
            p { font-size: 14px; }
        }

        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 1.25rem;
            flex-wrap: wrap;

            button {
                outline: none;
                border: none;
                cursor: pointer;
            }

            .add {
                padding-left: 14px;
                padding-right: 14px;
                padding-bottom: 6px;
                padding-top: 4px;

                background-color: $blue-excite;
                color: $text-color;
                border-radius: 16px;

                display: flex;
                align-items: center;
            }
        }
    }

    .templates {
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        grid-gap: 16px;
        align-content: normal;
        justify-items: stretch;

        p.header {
            font-weight: 600;
            font-size: 14px;
            display: block;
            width: 100%;
        }

        .grid {
            display: grid;
            grid-gap: 1.25rem;
            grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));

            .template {
                height: 80px;
                border-radius: 8px;
                border: 1px solid $border;
                cursor: pointer;
                display: flex;

                .body {
                    display: flex;
                    align-items: center;
                    padding: 12px;

                    .item {
                        padding: 0 0 0 .75rem;
                        display: inline-block;
                    }
                }
            }
        }
    }

    .projects {
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        grid-gap: 16px;

        align-content: normal;
        justify-items: stretch;

        .title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 1.25rem;
            flex-wrap: wrap;

            p {
                font-weight: 600;
                font-size: 14px;
            }
        }

        .project {
            display: grid;
            grid-template-columns: auto;
            grid-template-columns: 1fr 1fr 1fr 1fr auto;
            align-items: center;
            position: relative;

            .dropdown {
                left: initial;
                right: 0px!important;
                top: 55px;
                width: 200px;

                .actions .action {
                    svg { font-size: 18px; }
                }
            }

            .item {
                border-bottom: 1px solid $border;
                height: 70px;
                display: grid;
                align-items: center;
                grid-gap: 1.25rem;
                grid-template-columns: auto 1fr;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 0 .5rem;

                h1.title {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: 16px;
                    cursor: pointer;

                    &:hover { color: $alt-text-color; }
                }

                &.updated { 
                    font-size: 14px; 
                    user-select: none;
                }

                button.open {
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-bottom: 1px;
                    padding-top: 0px;
                    height: 24px;

                    border: 2px solid $border;
                    border-radius: 12px;
                    background: transparent;
                    color: $text-color;

                    font-size: 12px;
                    font-weight: 700;
                    cursor: pointer;
                }

                .options { 
                    position: relative;

                    .dots {
                        border: none;
                        background: transparent;
                        color: white;
                        cursor: pointer;

                        &:hover { color: $alt-text-color; }
                    }
                }
            }
        }
    }
}