@import '../vars.scss';

.datasets {
    margin-left: 12rem;
    margin-right: 12rem;
    padding: 1.5rem;
    padding-top: 4rem;
    flex-grow: 1;

    .inner {
        background: $dark-bg;
        border-radius: .75rem;
        min-height: 100%;
        height: auto;

        .header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .title {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                
                margin-top: 2rem;
                margin-bottom: 2.5rem;
                h1 { margin-left: 0.5em; margin-right: 0.5em; }
            }
        }
    
        .body {
            margin-top: 5rem;
            margin-bottom: 1.5rem;
            
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

.resources {
    overflow-y: auto!important;
    flex: 1 1 0%!important;

    section.dark {
        padding-bottom: 20rem;
        margin-bottom: 5rem;
        background-color: $dark-bg;
    }

    section.wave {
        padding-bottom: 2rem;
        position: relative;
        padding-top: 0;

        display: flex;
        justify-content: center;

        .card-container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;

            position: relative;
            z-index: 2!important;
            margin-top: -18rem!important;
            max-width: 1140px;

            display: flex;
            justify-content: center;

            .row {
                display: flex;
                flex-wrap: wrap;
                margin-right: -15px;
                margin-left: -15px;
                width: 100%;

                .card {
                    width: 30%;
                    max-width: 33.33333%;
                    margin-bottom: 0!important;

                    position: relative;
                    background-color: $track;
                    padding: 1.5rem!important;

                    display: flex;
                    flex-direction: column;
                    min-width: 0;
                    word-wrap: break-word;
                    background-clip: border-box;
                    border-radius: 0.5rem;

                    svg {
                        display: inline-flex;
                        text-align: center;
                        align-items: center;
                        font-size: 2.75rem;
                    }

                    h4 {
                        margin-bottom: 1.5rem;
                        font-size: 24px;
                    }

                    p { font-size: 16px; }
                }
            }
        }
    }

    section.light {
        padding-bottom: 8rem;
        position: relative;
        display: flex;
        justify-content: center;

        .inner {
            max-width: 1140px;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;

            .row {
                margin-left: -15px;
                margin-right: -15px;

                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                flex-direction: column;

                &.title {
                    text-align: center;
                    flex: 0 0 100%;
                    max-width: 100%;

                    h2 {
                        font-size: 2.5rem;
                        margin-bottom: 1rem;
                        font-weight: 600;
                    }

                    p {
                        padding-left: 8rem!important;
                        padding-right: 8rem!important;
                        font-size: 1.25rem;
                        font-weight: 400;
                    }
                }

                .dataset {
                    margin-bottom: 1.5rem;
                    flex: 0 0 100%;
                    max-width: 100%;
                    min-width: 0;

                    position: relative;
                    background-color: $dark-bg;
                    
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}

.table {
    display: flex;
    flex-direction: column;
    width: 85%!important;

    .t-head {
        display: flex;
        flex-wrap: wrap;
        font-size: .75em;
        line-height: 1.375;

        margin-bottom: 0.5em;
        padding-bottom: 0.5em;
        border-bottom: 2px solid $border;

        .elem {
            padding-left: 0;
            color: #808182;
            padding: 0.25em 1em;

            &.fName { width: 40%; }
            &.sName { width: 15%; }
            &.category { width: 20%; }
            &.unit { width: 20%; }
        }
    }

    .t-elem {
        margin-left: -1em;
        margin-right: -1em;
        border-radius: 0.375em;

        display: flex;
        flex-wrap: wrap;
        font-family: monospace;
        font-size: .75em;
        height: 42px;
        align-items: center;

        cursor: pointer;

        &:hover { background-color: rgba(255,255,255,.1); }

        .elem {
            padding-left: 0;
            padding: 0.25em 1em;
        }

        .fName { width: 40%; }
        .sName { width: 15%; }
        .category { width: 20%; }
        .unit { width: 20%; }
    }
}

.card-chart {
    display: flex;
    flex-direction: column;

    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;

    background-color: $dark-bg;
    border-radius: 0.375em;

    .title {
        display: flex;
        flex-direction: row;
        align-items: center;

        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1em;
        margin-bottom: 1em;

        user-select: text;

        h1 { 
            font-size: 1.5em;
            margin-right: 0.5em; 
        }

        h3 { font-size: 1em; }
    }

    .chart-container {
        width: 100%;
        height: 328px;

        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 1em;
    }
}

.chart-desc {
    display: flex;
    flex-direction: column;
    margin-left: 2.1em;
    margin-right: 2.1em;
    margin-bottom: 2em;

    .chart-row {
        display: flex;
        flex-direction: row;

        section:first-child { border-bottom: 1px solid $border; }
        section:last-child { border-top: 1px solid $border; }
    }

    section {
        width: 50%;
        padding: 0;
        padding-bottom: 1em;

        h4 { 
            font-size: 20px; 
            font-weight: 700;  
            margin-bottom: 0.5em;
        }

        p { font-size: 14px; }
    }
}