.wrapper {
    height: 100%;
}

.viewport {
    background-color: #141517;
    width: 100%;
    height: 100%;

    border-top-left-radius: 8px;
}

.tabWrapper {
    .content {
        margin-left: 5px;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }

    .icon { opacity: 0; }
    &:hover {
        .icon { opacity: 1; }
    }
}