@import '../../../vars.scss';

.auth-flavor {
    border-style: none;
    padding: 0px;
    font-family: $font-family;
    color: $muted-text;

    font-size: 12px;
    line-height: 1.55;
    text-decoration: none;
    background-color: transparent;

    cursor: pointer;
    padding: 0;
    border: 0px none;
    box-sizing: border-box;
    flex-grow: 0;
}