@import '../../vars.scss';

.group {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &.gap-sm {
        gap: 4px;
    }

    &.gap-md {
        gap: 16px;
    }
    
    &.row {
        flex-flow: row wrap;
    }

    &.column {
        flex-flow: column;
    }

    &.margin-md {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    &.margin-sm {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    &.margin-lg {
        margin-top: 24px;
        margin-bottom: 24px;
    }
}