$primary-bg: rgba(30, 30, 30, 1);
$second-bg: rgb(23, 23, 23);
$dark-bg: rgb(18, 18, 18);
$dark-bg-hover: #333333;
$border: #444444;
$track: rgb(10, 10, 10);
$primary-hover: rgba(50, 50, 50, 1);
$tertiary-bg: rgba(40, 40, 40, 1);

$alt-text-color: #8b9dff;
$text-color: rgb(245, 246, 247);

$teal: #12b886;
$purple: #862e9c;
$red: #d60017;
$blue: #5c60f5;