$primary-bg: rgba(30, 30, 30, 1);
$second-bg: rgb(23, 23, 23);
$dark-bg: rgb(18, 18, 18);
$dark-bg-hover: #333333;
$border: rgb(92, 95, 102);
$track: rgb(10, 10, 10);
$primary-hover: rgba(50, 50, 50, 1);
$tertiary-bg: rgba(40, 40, 40, 1);

$dark-0: #C1C2C5;
$dark-1: #A6A7AB;
$dark-2: #909296; 
$dark-3: #5c5f66;
$dark-4: #373A40;
$dark-5: #2C2E33;
$dark-6: #25262b;
$dark-7: #1A1B1E;
$dark-8: #141517;
$dark-9: #101113;

$alt-text-color: #8b9dff;
$text-color: rgb(245, 246, 247);
$muted-text: rgb(193, 194, 197);

$font-family: 'Poppins', sans-serif;

$teal: #12b886;
$purple: #862e9c;
$red: rgb(240, 62, 62);
$blue: #5c60f5;