.slashMenu {
    position: absolute;
    padding: 4px;
    background-color: #1A1B1E;
    pointer-events: all;
    border-radius: 8px;
    min-width: 250px;
    overflow: visible;

    z-index: 99;

    .inner {
        position: relative;
        overflow: visible;

        .arrow {
            width: 7px;
            height: 7px;
            transform: rotate(45deg);
            position: absolute;
            left: 5px;
            top: -5px;

            z-index: 99;
        }

        .content {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .item {
                border-radius: 8px;

                &:hover {
                    background-color: #25262b;
                }

                &.active {
                    background-color: #25262b;
                }
            }
        }
    }
}

.slash-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;

    z-index: 90;
}