.resizeableWrapper {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    .handle {
        display: flex;
        flex-direction: column;
        justify-content: center;

        position: absolute;
        user-select: none;
        width: 1.5rem;
        height: 100%;
        top: 0px;
        z-index: 10;

        &.right {
            align-items: flex-end;
            right: -0.25rem;
            margin-right: -0.25rem;
            padding-right: 0.25rem;
        }

        &.left {
            left: -0.25rem;
            margin-left: -0.25rem;
            padding-left: 0.25rem;
        }

        &.active {
            &::after { opacity: 1; }
        }

        &:hover, &:active {
            &::after {
                background-color: rgb(59,130,246);
            }
        }

        &::after {
            opacity: 0;
            
            display: flex;
            background-color: rgba(156,163,175,1);
            content: ' ';
            width: 3px;
            height: 64px;
            border-radius: 6px;
        }
    }
}