@import '../../vars.scss';
.form {
    width: 100%;

    .inner {    
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 16px;
    }

    .element {
        font-family: $font-family;
        line-height: 1.55;
        width: 100%;

        label {
            display: inline-block;
            margin-bottom: 4px;
            font-size: 14px;
            font-weight: 500;
            color: $text-color;
            word-break: break-word;
            cursor: default;
        }

        .checkbox-wrapper {
            display: flex;
            align-items: center;
            flex-direction: row;

            .checkbox {
                position: relative;
                width: 20px;
                height: 20px;
                line-height: 0;

                input {
                    box-sizing: border-box;
                    padding: 0px;

                    font-size: 100%;
                    line-height: 1.15;
                    appearance: none;
                    background-color: $tertiary-bg;
                    border: 1px solid $tertiary-bg;

                    width: 20px;
                    height: 20px;
                    border-radius: 4px;

                    display: block;
                    margin: 0px;
                    transition: border-color 100ms ease 0s, background-color 100ms ease 0s;

                    &.visible {
                        background-color: $blue;
                        border-color: $blue;
                    }
                }

                svg {
                    overflow: hidden;
                    color: #fff;

                    &.visible {
                        opacity: 1;
                        transform: translateY(0px) scale(1);
                    }
                    
                    transform: translateY(5px) scale(0.5);
                    opacity: 0;

                    //transition
                    transition-property: opacity,transform;
                    transition-timing-function: ease;
                    transition-duration: 100ms;
                    pointer-events: none;

                    width: 10px;
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }

            label {
                font-family: $font-family;
                padding-left: 12px;
                font-size: 14px;
                line-height: 20px;
                color: $text-color;
                margin-bottom: 0;
            }
        }

        .input-wrapper {
            position: relative;
            box-sizing: border-box;

            &.invalid {
                input { 
                    border: 1px solid $red; 
                    color: $red;
                }
                .icon { color: $red; }
            }
            
            .right {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 5px;
                
                display: flex;
                align-items: center;
                justify-content: center;
                width: 34px;
            }

            .form-icon {
                pointer-events: none;
                position: absolute;
                z-index: 1;
                left: 0px;
                top: 0px;
                bottom: 0px;

                display: flex;
                align-items: center;
                justify-content: center;
                width: 42px;
                color: $text-color;

                svg {
                    height: 18px;
                    width: 18px;
                }
            }

            input {
                border: 1px solid transparent;
                background-color: $tertiary-bg;
                font-family: $font-family;
                font-weight: 500;

                &.disabled {
                    background-color: $track;
                    color: $text-color;
                    opacity: 0.6;
                    cursor: not-allowed;
                }
                
                &.size-md {
                    height: 42px;
                    line-height: 40px;
                }

                &.size-sm {
                    height: 36px;
                    line-height: 34px;
                }

                &.size-lg {
                    height: 50px;
                    line-height: 48px;
                }

                appearance: none;
                resize: none;
                box-sizing: border-box;
                font-size: 16px;
                width: 100%;
                color: $text-color;

                display: flex;
                align-items: center;

                &::placeholder {
                    display: flex;
                    align-items: center;
                }

                &:placeholder-shown {
                    padding-top: 2px;
                }
                
                text-align: left;
                min-height: 42px;
                padding-right: 14px;
                padding-left: 14px;

                &.radius-md { border-radius: 6px; }
                &.radius-sm { border-radius: 4px; }
                &.radius-lg { border-radius: 32px; }
                
                &.has-icon { padding-left: 42px; }
            }
        }
    }
}