.chartContainer {
    display: flex;
    flex-direction: column;
    gap: 0px;
    
    &.display {
        min-height: 300px;

        .chartContent { height: 305px; }
    }

    .chartHeader {
        width: 100%;
        padding: 16px;
        border-bottom: 1px solid #5c5f66;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .chartContent {
        height: 100%;
        padding-bottom: 5px;
    }

    .chartCaption {
        border-top: 1px solid #5c5f66;
        padding: 12px;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}