.navbar {
    height: 56px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: $primary-bg;
    border-bottom: 2px solid $border;

    .start {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 12px;

        .logo {
            display: flex;
            flex-direction: row;

            a {
                padding: 0;
                align-items: center;
                user-select: none;
                flex: none;
                display: flex;
                flex-direction: row;
                align-self: center;
                cursor: pointer;
                text-decoration: none;
                color: $text-primary;
            }
        }
    }

    .end {
        display: flex;
        flex-direction: row;

        min-width: 200px;
        align-items: center;
        justify-content: flex-end;
        flex: none;

        button {
            margin-right: 8px;
            width: auto;
            padding-left: 12px;
            padding-right: 12px;

            padding: 0 8px;
            background-color: $text-excite;
            color: $text-primary;
            cursor: pointer;
            height: 26px;
            font-size: 12px;
            font-weight: 500;

            border: none;
            border-radius: 2px;
            
            display: inline-flex;
            justify-content: center;
            align-items: center;
            flex: 0 0 auto;
        }

        .end-btn {
            button {
                background-color: $card-color;
            }
        }
    }
}