.grid-item {
    width: 100%;
    max-width: 1828px;
    height: 28px;
    margin-top: 32px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

    li {
        outline: none;

        padding-left: 0;
        padding-right: 0;
        opacity: 1;
        height: 64px;
        border-bottom: 1px solid $border;
        overflow: hidden;
        color: inherit;

        display: flex;
        flex-direction: row;
        align-items: center;
        -webkit-box-align: center;
        box-sizing: border-box;

        &:hover {
            background-color: $border;
        }

        .sections {
            margin-right: 0;
            width: calc((100% - 26px) - 8px);
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: 1.5rem 8px;
            box-sizing: border-box;

            .title {
                display: block;
                overflow: hidden;
                padding-bottom: 4px;
                padding-top: 4px;
                grid-column-end: span 7;
                box-sizing: border-box;

                div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    box-sizing: border-box;
                    margin-left: 8px;
                    align-items: center;

                    span {
                        font-size: 13px;
                        text-align: left;
                        font-weight: 500;
                        line-height: normal;
                        display: block;
                        color: inherit;
                        max-width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        box-sizing: border-box;
                    }
                }
            }
        }

        .last-updated {
            grid-column-end: span 3;
            display: inherit;
            flex-direction: row;
            align-items: center;
            box-sizing: border-box;

            span {
                font-size: 13px;
                text-align: left;
                line-height: normal;
                display: block;
                color: rgb(153, 153, 153);
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                box-sizing: border-box;
            }
        }

        .creator {
            grid-column-end: span 2;
            display: inherit;
            flex-direction: row;
            -webkit-box-align: center;
            align-items: center;

            span {
                font-size: 13px;
                text-align: left;
                line-height: normal;
                display: block;
                color: rgb(153, 153, 153);
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                box-sizing: border-box;
            }
        }

        button {
            -webkit-appearance: button;
            box-sizing: border-box;
            background-color: transparent;
            color: rgb(153, 153, 153);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            flex: 0 0 auto;
            cursor: pointer;
            width: 26px;
            height: 26px;
            font-size: 12px;
            font-weight: 500;
            line-height: 1;
            border: none;
            border-radius: 50%;
            text-decoration: none;

            svg {
                overflow: hidden;
                box-sizing: border-box;
                flex-shrink: 0;
                color: rgb(153, 153, 153);
                fill: rgb(153, 153, 153);
            }
        }
    }

    &.active {
        li {
            background-color: $text-excite;
            color: white!important;

            .sections {
                .last-updated {
                    span {
                        color: white!important;
                    }
                }

                .creator {
                    span {
                        color: white!important;
                    }
                }
            }

            button {
                svg {
                    fill: white!important;
                    color: white!important;
                }
            }
        }
    }
}