@import '../../vars.scss';

.chart-builder {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;

    .chart-container {
        width: calc(100% - 55px);
        height: 100%;

        display: flex;
        flex-direction: column;
        position: relative;

        .chart-legend {
            position: absolute;
            left: 10px;
            top: 20px;

            width: auto;
            min-height: 20px;
            min-width: 100px;
            font-size: 13px;

            user-select: none;

            .element {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 1em;

                .country { margin-right: 2px; }
                .indicator { margin-right: 4px; }
                .value { color: $red-excite; }
            }
        }

        svg {
            width: 100%;
            height: calc(100% - 28px);
        }

        .x-axis {
            height: 28px;
            border-top: 1px solid $border;
            background: $second-bg;
            overflow: hidden;

            display: flex;
            flex-direction: row;
            position: relative;
            font-size: 12px;

            .tick {
                position: absolute;
                height: 80%;

                display: flex;
                align-items: center;
                justify-content: center;
            }

            .tickValue {
                position: absolute;
                width: 110px;
                background-color: $track;
                height: 80%;
                z-index: 10;

                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;

                border-bottom-right-radius: 2.5px;
                border-bottom-left-radius: 2.5px;
            }
        }
    }

    .y-axis {
        width: 55px;
        background: $second-bg;
        overflow: hidden;
        position: relative;
        border-left: 1px solid $border;

        .inner {
            display: flex;
            flex-direction: column;
            font-size: 12px;
            position: relative;
            height: calc(100% - 28px);

            .tick {
                position: absolute;
                padding-left: 10px;
            }
    
            .tickValue {
                background-color: $track;
                width: 100%;
                height: 25px;
                z-index: 10;
    
                overflow: hidden;
                display: flex;
                align-items: center;
                position: absolute;
    
                padding-left: 10px;
                border-top-right-radius: 2.5px;
                border-bottom-right-radius: 2.5px;
            }
        }
    }
}

