@import '../../sass/vars.scss';

.hover-line {
    //stroke: $secondary-card;
    stroke-width: 2px;
    stroke-dasharray: 10;
}

.tooltip-chart { 
    //fill: $secondary-card; 
    stroke-width: 2; 
    //stroke: $border; 
}

.tooltip-container text { /* fill: $text-color; */ }

.overlay {
    fill: none;
    pointer-events: all;
}