@import '../../vars.scss';

.navbar {
    background-color: $card;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: space-between;

    .title {
        margin-left: 10%;
        color: white;
        text-decoration: none;
        font-size: 2em;
    }

    .nav_elements {
        margin-right: 10%;
        list-style: none;
        
        display: flex;
        flex-direction: row;

        .element {
            margin-left: 22px;
            cursor: pointer;
            
            a {
                user-select: none;
                text-decoration: none;
                color: $text-color;

                &:hover {
                    color: $suprise-color;
                }
    
                &.active {
                    color: $suprise-color;
                }
            }
        }
    }
}