.selectors__wrapper {
    width: 100%;
    height: 100%;

    display: flex;

    .selectors__list {
        display: flex;
        flex-direction: column;
        gap: 25px;

        padding-left: 25px;
        padding-right: 25px;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 350px;
        flex-grow: 1;

        border-right: 2px solid #2C2E33;

        .title {
            font-size: 24px;
            font-weight: 700;
            color: #FFFFFF;
        }
    }

    .selectors__viewport {
        display: flex;
        flex-direction: column;
        gap: 35px;

        width: 100%;
        height: 100%;

        position: relative;
        
        .viewportScroll {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        
            overflow-x: hidden;
            overflow-y: auto;
        }
    }
}