# Environment variables :
# ${DOMAIN}     : example.org
# ${EMAIL}      : user@example.org
container_commands:
  01_download_epel:
    command: "sudo amazon-linux-extras install epel -y"
  02_enable_epel:
    command: "sudo yum-config-manager --enable epel"
  03_update_yum:
    command: "sudo yum update -y --skip-broken"
  04_install_nginx:
    command: "sudo yum install -y nginx"
  05_enable_nginx:
    command: "sudo systemctl start nginx"
  06_install_certbot: 
    command: "sudo yum install -y certbot python2-certbot-nginx python2-pip"
  07_get_certificate:
    command: "sudo certbot certonly --manual \
      --preferred-challenges dns \
      --manual-auth-hook \"/home/ec2-user/letsencrypt/certbot_route53.sh UPSERT sigmyze.com\" \
      --manual-cleanup-hook \"/home/ec2-user/letsencrypt/certbot_route53.sh DELETE sigmyze.com\" \
      --debug \
      --non-interactive \
      --email akshant.lanjewar@gmail.com \
      --agree-tos \
      -d sigmyze.com \
      -d *.sigmyze.com \
      --expand \
      --renew-with-new-domains \
      --keep-until-expiring \
      --post-hook \"sudo service nginx start\" \
      --pre-hook \"sudo service nginx stop\""
  08_link:
    command: "sudo ln -sf /etc/letsencrypt/live/${DOMAIN} /etc/letsencrypt/live/ebcert"