# Environment variables :
# ${DOMAIN}     : example.org
# ${EMAIL}      : user@example.org
commands:
  01_download_epel:
    command: "sudo amazon-linux-extras install epel -y"
  02_enable_epel:
    command: "sudo yum-config-manager --enable epel"
  03_update_yum:
    command: "sudo yum update -y --skip-broken"
  04_install_nginx:
    command: "sudo yum install -y nginx"
  05_enable_nginx:
    command: "sudo systemctl start nginx"
  06_install_certbot: 
    command: "sudo yum install -y certbot python2-certbot-nginx python2-pip"
  07_install_plugin:
    command: "pip install certbot-dns-route53"
  08_export_access:
    command: "export AWS_ACCESS_KEY_ID=AKIAYO437S56L2UOZ3MW"
  09_export_priv:
    command: "export AWS_SECRET_ACCESS_KEY='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'"
  10_get_certificate:
    command: "sudo certbot certonly 
      --non-interactive \
      --dns-route53 \
      --preferred-challenge dns \
      --agree-tos \
      --domains sigmyze.com,www.sigmyze.com \
      --email sigmyze@gmail.com"
  11_link:
    command: "sudo ln -sf /etc/letsencrypt/live/sigmyze.com /etc/letsencrypt/live/ebcert"
  12_disp:
    command: "ls /etc/letsencrypt/live/sigmyze.com"