@import '../../vars.scss';

.projects .project {
    display: flex;
    flex-direction: column;
    margin-right: 32px;

    .thumbnail {
        width: 275px;
        height: 150px;
        border-radius: 6px;
        cursor: pointer;

        background-color: $card;
    }

    .p-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        margin-top: 12px;
        padding-left: 2px;
        padding-right: 2px;

        .title {
            color: white;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
        }

        .update {
            font-size: 12px;
            color: $secondary-text;
            margin-top: -4px;
            cursor: pointer;
        }

        .elip-dropdown {
            position: relative;

            &:hover .content { display: block; }

            .vis {
                svg {
                    stroke: white;
                    fill: white;
        
                    width: 1.25em;
                    height: 1.25em;
                    cursor: pointer;
                }
            }

            .content {
                position: absolute;
                background-color: $card;
                z-index: 1;
                min-width: 180px;
                min-height: 75px;
                right: 0px;

                display: none;

                .dropdown {
                    display: flex;
                    flex-direction: column;
                    list-style: none;

                    li {
                        cursor: pointer;
                        font-weight: 600;
                        font-size: 14px;

                        padding-top: 12px;
                        padding-bottom: 12px;
                        padding-left: 16px;
                        padding-right: 16px;

                        &:hover { color: $suprise-color; }
                    }
                }
            }
        }
    }
}