.card {
    background-color: $card-color;
    width: 100%;
    height: 100%;
    padding-left: 1.5em;
    padding-right: 1.5em;

    display: flex;
    flex-direction: column;

    .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        flex: 0 1 auto;

        .text {
            h2 {
                font-size: 1.25rem;
                font-weight: 800;
            }
    
            h4 {
                font-size: .75rem;
                font-weight: 400;
                padding-left: 3px;
                color: $text-muted;
            }
        }

        .date-frames {
            display: flex;
            flex-direction: row;

            .pill {
                display: flex;
                margin-left: 12px;
                background-color: transparent;
                border-radius: 4px;
                color: white;
                height: 30px;
                align-items: center;
                justify-content: center;

                padding-left: 6px;
                padding-right: 6px;
                font-weight: bold;

                font-size: 14px;

                &.white {background-color: white;}
                &.grey {background-color: $text-muted;}
                &.blue {background-color: $text-excite;}
                &.red {background-color: $red;}
            }
        }
    }

    .body {
       width: 100%;
       flex: 1 1 auto;

       .chart {
           width: 100%;
           height: 100%;
       }
    }
}