$dark-10: #0C0D0F;

.hero {
    display: flex;
    
    width: 100%;
    background-color: $dark-10;

    .textContainer {
        display: flex;
        flex-direction: column;
        padding: 120px 100px;
        gap: 5px;

        .small {
            font-weight: 700;
            font-size: 12px;
            line-height: 18px;
        }

        .bold {
            font-weight: 700;
            font-size: 70px;
            line-height: 105px;
            width: 740px;

            .focus { color: #339AF0; }
        }

        .actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 25px 0px;
            gap: 35px;
        }
    }

    .imageContainer {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 100px;
        padding-right: 25px;

        .image {
            flex-grow: 1;
            aspect-ratio: 500 / 337;
            border-radius: 8px;

            background: url(../../public/screenshots/drive-homepage-ss.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            object-fit: fill;
        }
    }
}