.user-auth {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    padding-left: 3em;
    padding-right: 3em;
    margin-bottom: 2em;

    .social-media {
        margin-top: 2em;
        margin-bottom: 1em;

        .text {
            text-align: center;
            font-size: 18px;
            user-select: none;
        }

        .medias {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 14px;
            margin-bottom: 8px;

            button {
                outline: none;
                border: none;
                font-size: 14px;
                color: $text-color;
                padding: 8px;
                border-radius: 5px;
                padding-left: 10px;
                padding-right: 10px;
                cursor: pointer;
                
                margin-left: 4px;
                margin-right: 4px;

                &.google { background-color: #d55037; }
                &.fb { background-color: #385b9a; }
            }
        }
    }

    .option {
        font-size: 14px;
        text-align: center;

        .alt-flare { 
            color: $blue-excite; 
            cursor: pointer;
        }
    }

    .input-box {
        width: 100%;
        height: 45px;
        margin-top: 25px;
        position: relative;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        input {
            width: 100%;
            height: 100%;
            outline: none;
            font-size: 16px;
            border: none;
            background: transparent;
            color: #FFFFFF;
        }

        input:focus ~ .underline::after, 
        input:active ~ .underline::after {
            transform: scaleX(1);
            transform-origin: left;
        }

        input[type="submit"] {
            background: linear-gradient(to right, $alt-text-color 0%, $blue-excite 100%);
            font-size: 17px;
            color: #FFFFFF;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s ease;
            font-weight: 600;

            width: 100%;
            margin-top: 10px;
        }

        button {
            background: $blue-excite;
            font-size: 17px;
            color: #FFFFFF;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s ease;
            font-weight: 600;

            outline: none;
            border: none;

            width: 33%;
            height: 75%;
            margin-top: 10px;
        }

        &.check {
            display: flex;
            flex-direction: row;
            font-size: 12px;
            align-items: center;

            .label { width: 75%; }

            input {
                margin-right: 1em;
                width: 1em;
                height: 1em;
            }
        }

        .underline::before {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background: #ccc;
            left: 0;
            bottom: 0;
        }

        .underline::after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background: linear-gradient(to right, $alt-text-color 0%, $blue-excite 100%);
            left: 0;
            bottom: 0;
            transform: scaleX(0);
            transform-origin: left;
            transition: all 0.3s ease;
        }
    }
}