
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');


//glob components
@import './components/card/carousel.scss';
@import './components/card/tooltip.scss';
@import './components/card/card.scss';

@import './components/dropdown.scss';
@import './components/navbar/index.scss';
@import './components/modal.scss';
@import './components/user-auth/index.scss';
@import './components/tooltip.scss';
@import './components/toast.scss';

@import './pages/homepage.scss';
@import './pages/blog.scss';
@import './pages/country.scss';
@import './pages/chart/chart.scss';
@import './pages/dashboard.scss';
@import './pages/about.scss';
@import './pages/resources.scss';
@import './pages/info.scss';

//data vis
@import './data-vis/map.scss';
@import './data-vis/chart.scss';

@import './components/responsive.scss';

body {
    background-color: rgba(30, 30, 30, 1);
    font-family: 'Readex Pro', sans-serif;
    color: rgb(245, 246, 247);
    text-rendering: optimizeLegibility;
    font-size: 16px;
    -webkit-font-smoothing: subpixel-antialiased;

    max-width: 100vw;
}

button {
    font-family: 'Inter';
}
