$background-color: #f5f5f7;

$card: white;
$dark-card: rgba(0,0,0,0.92);

$primary-color: black;
$primary-muted: #858588;

$red-excite: #d60017;

$medium: 1200px;
$small: 900px;
$xtra-small: 500px;


//n color palette
$primary-bg: #20232a;
$second-bg: rgb(32, 35, 42);
$dark-bg: rgb(18, 18, 18);
$dark-bg-hover: #333333;

$navbar-bg: #121212;

$alt-text-color: #8b9dff;
$text-color: rgb(245, 246, 247);