.index-wrap {
    max-width: 80%;
    width: 1200px;
    margin: auto;
    padding-top: 1rem;
    margin-bottom: 4rem;
    color: $text-primary;

    .spark-cards {
        padding-top: 48px;
        .subheader {margin-bottom: 48px;}
    }
}

@import './components/home-components/carousel.scss';
@import './components/home-components/featured-indicators.scss';