$primary-bg: #141414;
$border: #2c2c2c;
$text-primary: #FAF8FF;
$text-excite: #8685EF;
$text-muted: rgb(153, 153, 153);
$card-color: rgb(15, 15, 15);
$secondary-card: rgb(5, 5, 5);
$secondary-bg: rgb(31, 31, 31);
$red: #ff3d41;

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    color: $text-primary;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: $primary-bg;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(90, 90, 90);
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

@import './components/navbar.scss';
@import './components/card.scss';

@import './home.scss';
@import './indicator.scss';