@import '../../vars.scss';

.map {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    z-index: 2;
    margin-top: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .inner {
        position: relative;
        height: 780px;
        max-width: 1440px;
        width: 90%;
    }
}