:root {
    --primary-bg: #141414;
    --border: #2c2c2c;
    --text-primary: #FAF8FF;
    --text-excite: #8685EF;
    --card-color: #000000;
    --secondary-bg: #292735;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    color: var(--text-primary);
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: var(--primary-bg);
}