@import '../../vars.scss';

.card {
    &.dark { background-color: $dark-bg; }
    &.light { background-color: $primary-bg; }

    &.scaleHov {
        cursor: pointer;
        transition: all .1s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }

    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    height: auto;
    border-radius: 4px;
    margin-left: 4px;
    margin-right: 4px;

    
    padding-top: 18px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 12px;

    @media screen and (max-width: $small) { width: 50%; }
    @media screen and (max-width: $xtra-small) { width: 100%; }

    .title {
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;

        overflow: hidden;
    }

    .chart {
        display: flex;
        flex-shrink: 0;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }

    .tooltip {
        position: relative;
        display: inline-block;

        &:hover .tooltiptext { visibility: visible; }

        .tooltiptext {
            visibility: hidden;
            width: 240px;
            background-color: $dark-card;
            color: #fff;
            text-align: center;
            border-radius: 4px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            bottom: 150%;
            left: 50%;
            margin-left: -120px;
            font-size: 14px;
        }

        .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
        }
    }
}