@import '../../../vars.scss';

.blog-wrap {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        flex-direction: column;
        height: 25vh;
    }

    .posts {

    }
}