.carousel_container {
    padding: 4.5rem 0rem 1rem;
    box-sizing: border-box;

    .card_container {
        position: relative;
        border-radius: 8px;
        background-color: $secondary-bg;
        color: $text-primary;
        height: 500px;
        display: flex;
        overflow: hidden;
        cursor: pointer;
    }

    .navigation_container {
        margin: 30px auto 0;
        display: flex;
        position: relative;
        list-style: outside none none;
        align-items: center;
        justify-content: center;
        color: $text-primary;

        .dots {
            display: flex;
            position: relative;
            list-style: outside none none;
            align-items: center;
            justify-content: center;
            font-size: 0.5rem;

            .left-arrow {
                overflow: hidden;
                font-size: 3em;
                height: 40px;
                fill: white;
                cursor: pointer;
                position: absolute;
                left: -40px;
                width: 26px;
            }

            .right-arrow {
                font-size: 3em;
                height: 40px;
                fill: white;
                cursor: pointer;
                position: absolute;
                right: -40px;
                width: 26px;
            }

            .dot_container {
                height: 16px;
                width: 60px;
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    border-radius: 100%;
                    width: 8px;
                    height: 8px;
                    border: 0px none;
                    padding: 0px;
                    background-color: white;
                    cursor: pointer;
                }
            }
        }
    }
}