@import '../../vars.scss';

.shell {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 100%;

    max-width: 100vw;
    min-width: 100vw;
    min-height: 100vh;

    font-family: $font-family;
    background-color: $primary-bg;
    color: $text-color;
    overflow-x: hidden;

    .side {
        width: 5.25rem;
        margin-left: 0;

        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;

        background-color: $dark-bg;
        transition: all .2s ease-in-out;

        &.expanded {
            width: 16.25rem;
        }
    }

    .main {
        flex: 1;
    }
}