.dropzone-wrapper {
    position: relative;
    margin-bottom: 40px;
    margin-top: 10px;

    .dropzone {
        border-width: 1px;
        padding-bottom: 50px;
    }

    .control {
        position: absolute;
        width: 250px;

        left: calc(50% - 125px);
        bottom: -20px;
    }
}

.loadingPanel {
    display: flex;
    gap: 10px;
    align-items: center;

    padding: 10px;
    border-radius: 8px;
    border: 2px solid #909296;
}

.imagesText {
    display: inline-block;

    text-underline-offset: 3px;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 2px;
}