.chips-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;

    border-top: 1px solid #2C2E33;
    border-bottom: 1px solid #2C2E33;

    min-height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}