.node {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 35px;
    background-color: #141517;
    color: #A6A7AB;

    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
        background-color: #25262b;
    }

    &.active {
        background-color: #25262b;
    }

    &.caret {
        &.title {
            padding-left: -50px;
        }
    }

    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        user-select: none;

        gap: 0px;

        .icon {
            display: flex;
            align-items: center;

            margin-left: 5px;
            margin-right: 5px;
        }

        .text {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .actions {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}