@import '../vars.scss';

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-left: 40px;
    padding-right: 40px;
    padding-top: 14px;
    padding-bottom: 14px;

    text-decoration: none;
    color: white!important;

    background: $dark-card;

    a {
        color: white!important;
        text-decoration: none;
        font-size: 22px;
    }

    ul {
        list-style-type: none;

        display: flex;
        flex-direction: row;
        align-items: center;
        
        a { font-size: 18px; }
    }

    .title { font-weight: 600; }
}