$dark-9: var(--mantine-color-dark-9);
$dark-5: var(--mantine-color-dark-5);
$dark7: var(--mantine-color-dark-7);
$indigo-6: var(--mantine-color-indigo-6);


//colors to map with js
$gray: #C1C2C5;
$red: #FF6B6B;
$blue: #4C6EF5;

.portalMenuElement {
    display: flex;
    gap: 10px;
    align-items: center;

    width: 200px;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;

    &:hover {
        background-color: $dark7;
    }

    .title {
        line-height: 1;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 2px;
        padding-top: 2px;
    }

    .desc {
        font-size: 8px;
        max-height: 45px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.sidebarWrapper {
    width: 80px;
    height: 100%;

    background-color: $dark-9;
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
    gap: 10px;

    .elements {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        gap: 10px;
        padding: 10px 0px;

        &.border {
            border-bottom: 2px solid $dark-5;
        }

        &.stacks {
            padding: 10px 0;

            .element.active {
                background-color: #7048E8;
                color: #FFFFFF;
            }
        }

        .buttonElement {
            display: flex;
            padding: 13px;
            justify-content: center;
            align-items: center;
            gap: 10px;

            border-radius: 8px;
            border: 2px solid;

            &:active {
                transform: translateY(0.0625rem);
            }

            &.gray {
                border-color: $gray;
                color: $gray;

                &:hover {
                    background-color: $gray;
                    color: #FFFFFF;
                }
            }

            &.red {
                border-color: $red;
                color: $red;

                &:hover {
                    background-color: $red;
                    color: #FFFFFF;
                }
            }

            &.blue {
                border-color: $blue;
                color: $blue;

                &:hover {
                    background-color: $blue;
                    color: #FFFFFF;
                }
            }

            &:disabled {
                background-color: rgb(37, 38, 43);
                border-color: rgb(37, 38, 43);
                color: rgb(92, 95, 102);
                cursor: not-allowed;

                &:hover {
                    background-color: rgb(37, 38, 43);
                    border-color: rgb(37, 38, 43);
                    color: rgb(92, 95, 102);
                }
            }
        }

        .element {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 13px;
            border-radius: 8px;
            cursor: pointer;

            transition: background-color 100ms ease;

            &:hover {
                background-color: $dark-5;

                &.active {
                    background-color: $dark-5;
                }
            }

            &.active {
                background-color: $indigo-6;
                color: #FFFFFF;
            }
        }

        &.default { 
            padding: 0px 0px 10px; 
        }
    }
}