.document-editor-wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    .documentScroll {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        overflow-x: hidden;
        overflow-y: scroll;

        .page {
            margin: 18px auto;
            width: 612pt;
            height: 792pt;

            //padding
            padding: 36pt;
            background-color: #101113;
            border-radius: 8px;
        }
    }
}