@import '../../vars.scss';

.user-control {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    grid-gap: .25rem;
    position: relative;

    .profile {
        width: 28px;
        height: 28px;
        font-size: 13px;
        position: relative;

        color: white;
        font-weight: 600;
        border-radius: 50%;
        overflow: hidden;
        user-select: none;
        cursor: pointer;
        border: none;
        outline: none;
        background: transparent;

        .word {
            width: 28px;
            height: 28px;
            background: #8b9dff;
            display: grid;
            place-items: center;
            text-transform: uppercase;

            position: absolute;
            top: 0;
            left: 0;
        }

        img {
            width: 28px;
            height: 28px;

            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .profile:focus ~ div.dropdown { display: flex; }
    div.dropdown:hover { display: flex; }

    div.dropdown {
        position: absolute;
        display: none;
        width: 300px;

        left: -250px;
        top: calc(1em + 14px);
        margin: 0;
        list-style: none;
        
        background-color: rgba(10, 10, 10, 0.95);

        flex-direction: column;

        .header {
            border-bottom: 1px solid $border;
            box-sizing: border-box;
            position: relative;
            padding: 16px;

            display: flex;
            flex-direction: row;
            align-items: center;

            .profile-image {
                height: 40px;
                width: 40px;
                margin-right: 16px;
                border-radius: 50%;
                overflow: hidden;

                opacity: 1;
                transition: none;
                flex: none;
                display: inline-block;

                img {
                    display: block;
                    height: 40px;
                    width: 40px;
                }

                .word {
                    height: 40px;
                    width: 40px;
                    user-select: none;

                    background: #8b9dff;
                    display: grid;
                    place-items: center;
                    text-transform: uppercase;
                }
            }

            .name-container {
                min-width: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .name {
                    color: white;
                    font-size: 16px;
                    font-weight: 500;

                    display: block;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }

                .options {
                    display: block;
                    margin-right: -0.1em;
                    padding-right: 0.1em;
                    white-space: pre;

                    color: $blue-excite;
                    text-decoration: none;
                    cursor: pointer;
                    font-size: 13px;
                }
            }
        }

        .account-actions {
            padding: 8px 0;
            display: block;

            .action {
                height: 40px;
                cursor: pointer;
                text-decoration: none;
                color: $text-color;

                display: flex;
                flex-direction: row;
                align-items: center;

                padding: 0px 36px 0px 16px;
                font-size: 16px;

                svg { margin-right: 16px; font-size: 24px; }
            }
        }
    }
}