@import '../../vars.scss';

.user-control {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    grid-gap: .25rem;
    position: relative;

    .profile {
        width: 28px;
        height: 28px;
        font-size: 13px;
        position: relative;

        color: white;
        font-weight: 600;
        border-radius: 50%;
        overflow: hidden;
        user-select: none;
        cursor: pointer;
        border: none;
        outline: none;
        background: transparent;

        .word {
            width: 28px;
            height: 28px;
            background: #8b9dff;
            display: grid;
            place-items: center;
            text-transform: uppercase;

            position: absolute;
            top: 0;
            left: 0;
        }

        img {
            width: 28px;
            height: 28px;

            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .profile:focus ~ div.dropdown { display: flex; }
}