@import '../../vars.scss';

.navbar {
    position: sticky;
    top: 0;
    z-index: 4;
    
    background-color: $navbar-bg;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    height: 60px;
    padding: 8px 16px 8px 16px;

    display: flex;
    box-sizing: border-box;

    .navbar__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        .left {
            align-items: center;
            display: flex;
            flex: 1;
            min-width: 0;
        }

        .right {
            flex: 0 0 auto;
            justify-content: flex-end;

            align-items: center;
            display: flex;
            min-width: 0;
            box-sizing: border-box;
        }

        .nav-item {
            font-weight: 500;
            display: inline-block;
            padding: 4px 12px 4px 12px;
            color: $text-color;
            text-decoration: none;
        }

        .brand {
            align-items: center;
            display: flex;
            font-weight: 700;
            height: 2rem;
            margin-right: 1rem;
            min-width: 0;

            color: $text-color;
            text-decoration: none;

            img {
                display: initial;
                height: 100%;
                margin-right: .5rem;
                max-width: 100%;
            }

            b {
                flex: 1 1 auto;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}