.dropdownContainer {
    min-width: 275px;
    max-width: 275px;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;

    .element {
        height: 35px;
        width: 100%;
        padding: 0px 10px 0px 0px;
        color: #C1C2C5;

        display: flex;
        align-items: center;
        align-self: stretch;

        text-overflow: clip;

        &.active {
            background: #25262B;
            color: #FFFFFF;
        }

        &:hover {
            cursor: pointer;
            color: #FFFFFF;
        }

        .wrapper {
            display: flex;
            align-items: center;
            align-self: stretch;
            gap: 5px;

            .folderChevron {
                transition: transform 100ms ease;
            }

            .name {
                text-align: center;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;

                overflow: hidden;
                -webkit-line-clamp: 1;
                white-space: nowrap;
            }
        }
    }
}